<div class="user-form change-pass" ng-controller="ChangePasswordCtrl" >
	<h2>Change Password</h2>

	<div class="row">
		<div class="col-lg-6 col-sm-12">
			<div class="alert" ng-class="alertType" ng-show="message">
				<button type="button" class="close" ng-click="message=''">×</button>
				<h5 style="text-transform: capitalize;">{{notifTitle}}</h5>
				<span>{{message}}</span>	
			</div>

			<form class="changepasswordform" ng-submit="submit()" id="change-password-form">
				<fieldset>
					<div class="form-group">
						<input ng-model="form.old" class="form-control" placeholder="Old password" name="old" type="password" autofocus="">
					</div>
					<div class="form-group">
						<input ng-model="form.new" class="form-control" placeholder="New Password" name="new" type="password">
					</div>
					<div class="form-group">
						<input ng-model="form.confirm" class="form-control" placeholder="Confirm Password" name="confirm" type="password">
					</div>
					<input value="Change Password" type="submit" class="btn btn-lg btn-success btn-block save" id="change-password-button" ng-disabled="loading">
				</fieldset>
			</form>

		</div>
	</div>

</div>