<div ng-controller="NodesCtrl" class="content nodes-wrp">

    <div class="row">
        <div class="col-lg-2 col-md-3 node-menu">
            <div id="allnodes-nav" ng-show="nodeGrouping==''">
                <h5>All Nodes</h5>
                <div class="node-group">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-check" ng-repeat="name in nodeNames">
                                <label class="form-check-label {{name}}">
                                    <input type="checkbox" ng-disabled="selectedGroups.length != 0" class="form-check-input {{name}}" ng-model="checkboxModel[name]"> {{name}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="environments-nav" ng-show="nodeGrouping=='environments'">
                <h5>Environments</h5>
                <div class="node-group" ng-repeat="(key,val) in environments">
                    <h6>{{key}}</h6>
                    <div class="card">
                        <div class="card-body">
                            <div class="form-check" ng-repeat="name in val.nodes">
                                <label class="form-check-label {{name}}">
                                    <input type="checkbox" ng-disabled="selectedGroups.length != 0" class="form-check-input {{name}}" ng-model="checkboxModel[name]"> {{name}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="groups-nav" ng-show="nodeGrouping=='groups'">
                <h5>Groups</h5>
                <div class="node-group" ng-repeat="(groupName, val) in groups">
                    <h5 ng-click="val.checkAll();">{{groupName}}</h5>
                    <div class="card">
                        <div class="card-body">
                            <div class="form-check" ng-repeat="(key, env) in val.envs">
                                <label class="form-check-label {{key}}">
                                    <input type="checkbox" class="form-check-input {{key}}" ng-model="val.checked[key]" ng-change="val.processes = updateProcesses(val.checked, groupName)"> {{key}}</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-10 col-md-9" >

            <div class="row buttons" ng-hide="isAllHidden">
                <div class="col-sm-2 col-xs-4">
                    <button class="btn btn-primary btn-sm" ng-click="load()" ng-disabled="flag" value="">Refresh Page</button>
                </div>
                <div class="col-sm-10 col-xs-8" style="text-align:right">


                    <button class="btn btn-success btn-sm" value="" ng-click="startAll()">
                        <i class="fa fa-fw fa-play"></i>
                        <span class="d-none d-lg-inline">Start All</span>
                    </button>
                    <button class="btn btn-danger btn-sm" ng-click="stopAll()">
                        <i class="fa fa-fw fa-stop"></i>
                        <span class="d-none d-lg-inline">Stop All</span>
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="restartAll()">
                        <i class="fa fa-fw fa-refresh"></i>
                        <span class="d-none d-lg-inline">Restart All</span>
                    </button>
                </div>
            </div>


            <div ng-repeat="(nodeIndex, nodeName) in nodeNames track by $index" class="row nodes" ng-if="checkboxModel[nodeName] &&  nodeGrouping!='groups'">
                <div class="col-md-12">

                    <h4>Processes for {{nodeName}}</h4>

                    <table class="table table-hover table-striped table-sm">
                        <thead class="thead-dark">
                            <th>Name</th>
                            <th>Pid</th>
                            <th>Group</th>
                            <th>Uptime</th>
                            <th>State</th>
                            <th style="text-align: right; white-space: nowrap">
                                <button class="btn btn-success btn-sm" value="" ng-click="startAllNode(nodeName)">
                                    <i class="fa fa-fw fa-play"></i>
                                    <span class="d-none d-lg-inline">Start All</span>
                                </button>
                                <button class="btn btn-danger btn-sm" ng-click="stopAllNode(nodeName)">
                                    <i class="fa fa-fw fa-stop"></i>
                                    <span class="d-none d-lg-inline">Stop All</span>
                                </button>
                                <button class="btn btn-primary btn-sm" ng-click="restartAllNode(nodeName)">
                                    <i class="fa fa-fw fa-refresh"></i>
                                    <span class="d-none d-lg-inline">Restart All</span>
                                </button>
                            </th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, process) in nodes[nodeName] track by $index">
                                <td><strong>{{process.name}}</strong></td>
                                <td>{{process.pid}}</td>
                                <td>{{process.group}}</td>
                                <td>{{(process.statename == "RUNNING")? (process.now - process.start | secondsToTime) : '-'}}</td>
                                <td>
                                    <span class="badge" ng-class="{'badge-success':process.statename=='RUNNING', 'badge-danger':process.statename=='STOPPED',  'badge-warning': processStatus[nodeName + '/' + process.name]}">{{processStatus[nodeName + '/' + process.name]? "UPDATING...":process.statename}}</span></td>
                                <td style="text-align: right; white-space: nowrap">
                                    <button class="btn btn-primary btn-sm" ng-click="restart(nodeName, process)" ng-disabled="process.statename != 'RUNNING' || processStatus[nodeName + '/' + process.name]">
                                        <i class="fa fa-fw fa-refresh"></i>
                                        <span class="d-none d-lg-inline"> Restart</span>
                                    </button>&nbsp;
                                    <button class="btn btn-success btn-sm" ng-click="start(nodeName, process)" ng-disabled="process.statename == 'RUNNING' || processStatus[nodeName + '/' + process.name]">
                                        <i class="fa fa-fw fa-play"></i>
                                        <span class="d-none d-lg-inline"> Start</span>
                                    </button>&nbsp;
                                    <button class="btn btn-danger btn-sm" ng-click="stop(nodeName, process)" ng-disabled="process.statename != 'RUNNING' || processStatus[nodeName + '/' + process.name]">
                                        <i class="fa fa-fw fa-stop"></i>
                                        <span class="d-none d-lg-inline"> Stop</span>
                                    </button>&nbsp;
                                    <button class="btn btn-info btn-sm" ng-click="getNodeLog(nodeName, process.group, process.name)">
                                        <i class="fa fa-fw fa-info"></i>
                                        <span class="d-none d-lg-inline"> Log</span>
                                    </button>&nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div ng-repeat="(key, group) in groups track by $index"  ng-show="nodeGrouping=='groups'" class="row nodes">
                <div class="col-md-12">

                    <h4>Processes for group: {{key}}</h4>

                    <table class="table table-hover table-striped table-sm">
                        <thead class="thead-dark">
                            <th>Name</th>
                            <th>Pid</th>
                            <th>Node</th>
                            <th>Uptime</th>
                            <th>State</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="process in groups[key].processes track by $index" ng-show="process.group == key" >
                                <td><strong>{{process.name}}</strong></td>
                                <td>{{process.pid}}</td>
                                <td>{{process.group}}</td>
                                <td>{{(process.statename == "RUNNING")? (process.now - process.start | secondsToTime) : '-'}}</td>
                                <td>
                                    <span class="badge" ng-class="{'badge-success':process.statename=='RUNNING', 'badge-danger':process.statename=='STOPPED',  'badge-warning': processStatus[nodeName + '/' + process.name]}">{{processStatus[nodeName + '/' + process.name]? "UPDATING...":process.statename}}</span></td>
                                <td style="text-align: right; white-space: nowrap">
                                    <button class="btn btn-primary btn-sm" ng-click="restart(nodeName, process)" ng-disabled="process.statename != 'RUNNING' || processStatus[nodeName + '/' + process.name]">
                                        <i class="fa fa-fw fa-refresh"></i>
                                        <span class="d-none d-lg-inline"> Restart</span>
                                    </button>&nbsp;
                                    <button class="btn btn-success btn-sm" ng-click="start(nodeName, process)" ng-disabled="process.statename == 'RUNNING' || processStatus[nodeName + '/' + process.name]">
                                        <i class="fa fa-fw fa-play"></i>
                                        <span class="d-none d-lg-inline"> Start</span>
                                    </button>&nbsp;
                                    <button class="btn btn-danger btn-sm" ng-click="stop(nodeName, process)" ng-disabled="process.statename != 'RUNNING' || processStatus[nodeName + '/' + process.name]">
                                        <i class="fa fa-fw fa-stop"></i>
                                        <span class="d-none d-lg-inline"> Stop</span>
                                    </button>&nbsp;
                                    <button class="btn btn-info btn-sm" ng-click="getNodeLog(nodeName, process.group, process.name)">
                                        <i class="fa fa-fw fa-info"></i>
                                        <span class="d-none d-lg-inline"> Log</span>
                                    </button>&nbsp;
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

<!-- Process logs -->
<div class="modal fade" id="processLogsModal" tabindex="-1" role="dialog" aria-labelledby="processLogs" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="processLogsTitle">{{logs.nodeName}} / {{logs.processName}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="logs">{{logs.logs}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>

