[Unit]
Description=Cesi application
After=network.target

[Service]
User=root
ExecStart=/usr/bin/python /opt/cesi/cesi/web.py
WorkingDirectory=/opt/cesi/
Restart=on-failure

[Install]
WantedBy=multi-user.target
