            {% if process.pid==0 %}
                 <td> - </td>
            {% else  %}
                <td> data['pid'] </td>
            {% endif  %}
            <td> data['name'} </td>
            <td> data['group'] </td>
            <td> data['start_hr'] </td>
            <td> data['stop_hr'] </td>
            <td> data['now_hr'] </td>
            <td> data['uptime'] </td>
            <td> data['state'] </td>
        {% if data['state']==0 or data['state']==40 or data['state']==100 or data['state']==200 %}
            <td class="alert alert-danger"> data['statename'] </td>
        {% elif process.state==10 or process.state==20 %}
            <td class="alert alert-success"> data['statename'] </td>
        {% else %}
            <td class="alert alert-warning"> data['statename'] </td>
        {% endif  %}
            <td> data['spawnerr'] </td>
            <td> data['exitstatus'] </td>
            <td> data['stdout_logfile'] </td>
            <td> data['stderr_logfile'] </td>
        {% if node_list|length < 2 %}
            {% if process.state==20  %}
                <td>
                    <a id="a" class="btn btn-info btn-sm" href="/environment/node/{{ node_name }}/process/restart/{{ process.group  }}:{{ process.name }}">restart</a>
                </td>
                <td>
                    <a class="btn btn-info btn-sm" href="/environment/node/{{ node.name }}/process/stop/{{ process.group  }}:{{ process.name }}">stop</a>
                </td>
            {% elif process.state==0  %}
                <td>
                    <a class="btn btn-info btn-sm" href="/environment/node/{{ node.name }}/process/start/{{ process.group  }}:{{ process.name }}">start</a>
                </td>
                <td>
                    <a class="btn btn-info btn-sm disabled" href="#">stop</a>
                </td>
            {% endif  %}
        {% else  %}
            {% if process.state==20  %}
                <td>
                    <a class="btn btn-info btn-sm" href="/environment/node/all/{{ node.name }}/process/restart/{{ process.group  }}:{{ process.name }}">restart</a>
                </td>
                <td>
                    <a class="btn btn-info btn-sm" href="/environment/node/all/{{ node.name }}/process/stop/{{ process.group  }}:{{ process.name }}">stop</a>
                </td>
            {% elif process.state==0  %}
                <td>
                    <a class="btn btn-info btn-sm" href="/environment/node/all/{{ node.name }}/process/start/{{ process.group  }}:{{ process.name }}">start</a>
                </td>
                <td>
                    <a class="btn btn-info btn-sm disabled" href="#">stop</a>
                </td>
            {% endif %}

