{% extends "layout.html" %}
{% block body %}
<!-- Table -->
    <table class="table table-bordered" >
        <tr class="info"> 
            <th>Pid</th>
            <th>Name</th>
            <th>Group</th>
            <th>Start</th>
            <th>Stop</th>
            <th>Now</th>
            <th>State</th>
            <th>State name</th>
            <th>Spawnerr</th>
            <th>Exit status</th>
            <th>Stdout logfile</th>
            <th>Stderr logfile</th>
        {% for i in info_list %}
        <tr>
            <td> {{ i.pid }} </td>
            <td> {{ i.name }} </td>
            <td> {{ i.group }} </td>
            <td> {{ i.start }} </td>
            <td> {{ i.stop }} </td>
            <td> {{ i.now }} </td>
            <td> {{ i.state }} </td>
        {% if i.state==0 or i.state==40 or i.state==100 or i.state==200 %}
            <td class="danger"> {{ i.statename }} </td>
        {% elif i.state==10 or i.state==20 %}
            <td class="success"> {{ i.statename }} </td>
        {% else %}
            <td class="info"> {{ i.statename }} </td>
        {% endif  %}
            <td> {{ i.spawnerr }} </td>
            <td> {{ i.exitstatus }} </td>
            <td> {{ i.stdout_logfile }} </td>
            <td> {{ i.stderr_logfile }} </td>
            <td> <a class="btn btn-primary btn-sm" role="button" href="#">Restart</a>  </td>
            <td> <a class="btn btn-primary btn-sm" role="button" href="#">Stop</a>  </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
