{% extends "layout.html" %}
{% block body %}
<!-- Table -->
{% for node in node_list %} 
    <table class="table table-bordered" >
        <tr> 
            <td colspan="14">
            <h4 align="center"> {{ node.name[5:] }} </h4>
            </td>
        <tr>
        <tr class="info"> 
            <th>Pid</th>
            <th>Name</th>
            <th>Group</th>
            <th>Start</th>
            <th>Stop</th>
            <th>Now</th>
            <th>State</th>
            <th>State name</th>
            <th>Spawnerr</th>
            <th>Exit status</th>
            <th>Stdout logfile</th>
            <th>Stderr logfile</th>
        {% for process in node.process_list%}
        <tr>
            <td> {{ process.pid }} </td>
            <td> {{ process.name }} </td>
            <td> {{ process.group }} </td>
            <td> {{ process.start }} </td>
            <td> {{ process.stop }} </td>
            <td> {{ process.now }} </td>
            <td> {{ process.state }} </td>
        {% if process.state==0 or process.state==40 or process.state==100 or process.state==200 %}
            <td class="alert alert-danger"> {{ process.statename }} </td>
        {% elif process.state==10 or process.state==20 %}
            <td class="alert alert-success"> {{ process.statename }} </td>
        {% else %}
            <td class="alert alert-warning"> {{ process.statename }} </td>
        {% endif  %}
            <td> {{ process.spawnerr }} </td>
            <td> {{ process.exitstatus }} </td>
            <td> {{ process.stdout_logfile }} </td>
            <td> {{ process.stderr_logfile }} </td>
        {% if node_list|length < 2 %}
            {% if process.state==20  %}
                <td>
                    <a class="btn btn-info btn-sm" href="/node/{{ node.name[5:] }}/process/restart/{{ process.group  }}:{{ process.name }}">restart</a>
                </td>
                <td>
                    <a class="btn btn-info btn-sm" href="/node/{{ node.name[5:] }}/process/stop/{{ process.group  }}:{{ process.name }}">stop</a>
                </td>
            {% elif process.state==0  %}
                <td>
                    <a class="btn btn-info btn-sm" href="/node/{{ node.name[5:] }}/process/start/{{ process.group  }}:{{ process.name }}">start</a>
                </td>
                <td>
                    <a class="btn btn-info btn-sm disabled" href="#">stop</a>
                </td>
            {% endif  %}
        {% else  %}
            {% if process.state==20  %}
                <td>
                    <a class="btn btn-info btn-sm" href="/node/all/{{ node.name[5:] }}/process/restart/{{ process.group  }}:{{ process.name }}">restart</a>
                </td>
                <td>
                    <a class="btn btn-info btn-sm" href="/node/all/{{ node.name[5:] }}/process/stop/{{ process.group  }}:{{ process.name }}">stop</a>
                </td>
            {% elif process.state==0  %}
                <td>
                    <a class="btn btn-info btn-sm" href="/node/all/{{ node.name[5:] }}/process/start/{{ process.group  }}:{{ process.name }}">start</a>
                </td>
                <td>
                    <a class="btn btn-info btn-sm disabled" href="#">stop</a>
                </td>
            {% endif %}
        {% endif  %} 
        </tr>
        {% endfor %}
    </table>
{% endfor %}
{% endblock %}
