{% extends "layout.html" %}
{% block body %}
<!-- Table -->
{% for node in node_list %}
<div class="panel panel-primary panel-custom">
<div class="panel-heading">{{ node.name }}</div> 
    <table class="table table-bordered" >
        <tr class="active"> 
            <th>Pid</th>
            <th>Name</th>
            <th>Group</th>
            <th>Uptime</th>
            <th>State name</th>
            <th></th>
            <th></th>
        {% for process in node.process_list%}
        <tr class="process_info">
            {% if process.pid==0 %}
                 <td> - </td>
            {% else  %}
                <td> {{ process.pid }} </td>
            {% endif  %}
            <td> {{ process.name }} </td>
            <td> {{ process.group }} </td>
            <td> {{ process.uptime }} </td>
        {% if process.state==0 or process.state==40 or process.state==100 or process.state==200 %}
            <td class="alert alert-danger"> {{ process.statename }} </td>
        {% elif process.state==10 or process.state==20 %}
            <td class="alert alert-success"> {{ process.statename }} </td>
        {% else %}
            <td class="alert alert-warning"> {{ process.statename }} </td>
        {% endif  %}
        {% if process.state==20  %}
            <td>
                <button class="btn btn-primary btn-block" name="/node/{{ node.name }}/process/{{ process.group  }}:{{ process.name }}/restart" value="Restart">Restart</button>
            </td>
            <td>
                <button class="btn btn-primary btn-block" name="/node/{{ node.name }}/process/{{ process.group  }}:{{ process.name }}/stop" value="Stop">Stop</button>
            </td>
        {% elif process.state==0  %}
            <td>
                <button class="btn btn-primary btn-block" name="/node/{{ node.name }}/process/{{ process.group  }}:{{ process.name }}/start" value="Start">Start</button>
            </td>
            <td>
                <button class="btn btn-primary btn-block disabled" value="Stop">Stop</button>
            </td>
        {% endif  %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endfor %}
{% endblock %}
