<div class="user-form delete-user" ng-controller="DeleteUserCtrl">

	<h2>Users</h2>

	<div class="row">
		<div class="col-lg-6 col-sm-12">
			<div class="alert" ng-class="alertType" ng-show="message">
				<button type="button" class="close" ng-click="message=''">×</button>
				<h5 style="text-transform: capitalize;">{{notifTitle}}</h5>
				<span>{{message}}</span>
			</div>


			<table class="table table-sm table-striped table-hover" id="dataTables-example">
				<thead class="thead-dark">
					<tr>
						<th>Username</th>
						<th>Type</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="user in users">
						<td>{{user.name}}</td>
						<td>{{user.type}}</td>
						<td style="text-align: right">
							<button ng-click="deleteUser(user.name)" class="btn btn-sm btn-danger" ng-show="user.name!='admin'">Delete</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>