body {font-size: .8rem;}
.node-menu{margin-top:20px}

.nodes{margin-top: 20px}
.nodes-wrp .buttons{margin-top: 20px;}

.dashboard-cards {margin-top:20px; margin-bottom: 20px}
.dashboard-cards .card-blockquote{ height: 150px;}