.btn{cursor: pointer}

#wrapper{margin-top: 20px}

body {font-size: .8rem;}
.node-menu{}

.nodes{}
.nodes-wrp .buttons{margin-top: 20px;}

.dashboard-cards {margin-bottom: 20px}
.dashboard-cards .card-blockquote{ height: 150px;}