<!DOCTYPE HTML>

<!DOCTYPE html>
<html ng-app="login">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>CESI Login</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.css">

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
</head>

<body>
    <div class="container" style="margin-top:20px">
        <div class="row">
            <div class="col-md-4 col-sm-12"></div>
            <div class="col-md-4 col-sm-12">

                <h3 class="panel-title">CeSI Sign In</h3>

                {% if code %}
                <div class="alert alert-danger">
                    <span>Invalid username or password</span>
                </div>
                {% endif %}

                <form id="loginForm" class="loginform" method="post" action="/login/control">
                    <fieldset>
                        <div class="form-group">
                            <input class="form-control" name="username" placeholder="Username" autofocus="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="password" placeholder="Password" type="password" value="">
                        </div>
                        <input value="Login" type="submit" class="btn btn-lg btn-primary">
                    </fieldset>
                </form>

            </div>
            <div class="col-md-4 col-sm-12"></div>
        </div>
    </div>

</body>

</html>