<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <title>Not Found</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        body{
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #EBEBEB;
            text-align: left;
            background-color: #2B3E50;
            font-family: Arial, Helvetica, sans-serif
        }
    
        h3{
            font-size: 1.75rem;
            margin-bottom: 10px
        }
    </style>
</head>

<body>
    <div class="container" style="margin:20px auto; width: 400px;">
        <h3>404 - Page Not Found</h3>
        <p>The requested URL was not found on this server.</p>
    </div>

</body>

</html>